.nav-link {
  text-decoration: none;
  color: inherit;

  .MuiButton-root {
    color: inherit;
  }

  &.active .MuiButton-root {
    color: #fff !important; // Ensure the text color is white when active
  }
}

.tab-content {
  padding: 16px;
}
